name: Build & Deploy frontend-service

on:
  push:
    branches: [dev, main]

permissions:
  contents: read

concurrency:
  group: frontend-service-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: cloudshopt/infrastructure/.github/workflows/build-image.yaml@main
    with:
      prod_branch: main
      image_repository: timib22/cloudshopt-frontend
      dockerfile: ./prod.Dockerfile
      docker_context: .
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  deploy:
    needs: build
    uses: cloudshopt/infrastructure/.github/workflows/deploy-helm.yaml@main
    with:
      prod_branch: main

      infra_repo: cloudshopt/infrastructure
      infra_ref: main

      helm_chart_path: helm/frontend-service
      values_prod: helm/frontend-service/values.yaml
      values_dev: helm/frontend-service/values-dev.yaml

      namespace_prod: cloudshopt
      namespace_dev: cloudshopt-dev
      release_prod: frontend-service
      release_dev: frontend-service-dev

      image_repository: timib22/cloudshopt-frontend
      image_tag: ${{ needs.build.outputs.image_tag }}

      health_prod: http://app.timotejblazic.eu
      health_dev: http://app-dev.timotejblazic.eu

      apply_k8s_secret: false
      # k8s_secret_name: frontend-service-secrets

    secrets:
      KUBECONFIG_B64: ${{ secrets.KUBECONFIG_B64 }}

#      DB_PASSWORD_PROD: ${{ secrets.PROD_DB_PASSWORD }}
#      REDIS_PASSWORD_PROD: ${{ secrets.PROD_REDIS_PASSWORD }}
#      DB_PASSWORD_DEV: ${{ secrets.DEV_DB_PASSWORD }}
#      REDIS_PASSWORD_DEV: ${{ secrets.DEV_REDIS_PASSWORD }}